<!DOCTYPE html>
    <head>
        <title>Router# show interfaces</title>
        <style>
            .raw-output {
                /* display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center; */
                font-size: 18px;
                font-family: 'Courier New', Courier, monospace;
                /* font-weight: bold; */
                color: black;
            }
            .element:hover {
                font-weight: bold;
            }
            .outline {
                padding: 5px;
                border-radius: 10%;
                outline-style: solid;
                outline-color: rgb(7, 84, 7);
                outline-width: 5px;
                z-index: 1;
                cursor: pointer;
                background-color:olivedrab;
            }
        </style>
    </head>
    <body>
        <div class="raw-output">
<!-- insert jinja template -->
        </div>
        <script>
            const data = {
                "duplex": {
                    "config": "duplex full",
                    "explain": "Long form explination placeholder",
                    "references": "links to reference docs from vendor",
                    "add-resource": "additional resources such as blogs or other sites that are useful for this"
                }
            }
            const elements = document.getElementsByClassName("element");
            const raw = document.getElementsByClassName("raw-output");
            // console.log(elements);

            window.addEventListener("click", (event) => {
                if (event.target.id == "") {
                    console.log("NO ID");
                    console.log(event.target.id);
                } else {
                    console.log(event.target.id);
                    printContent(event.target.id);
                };
                event.preventDefault();
                }, true);

            function printContent(id) {
                console.log(data[id]);
            }
        </script>
    </body>
</html>